{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-3">
    <!-- Display User Profile Image -->
    <div class="col mb-5" style="justify-content: center; display: flex;">
        <div>
            <!-- <div class="row text-center mx-4">
                <h4>โปรไฟล์</h4>
            </div> -->
            {% if user.profile.img.url == user.profile.img.url %}
            <!-- <img src="{{ profile.img.url }}" style="max-height: 295px; border-radius: 50%; " class="mt-3 img-rounded mb-3" alt=""> -->
            <canvas class="mt-5 mb-3" id="profileCanvas" width="300" height="300"
                style="border-radius: 50%;"></canvas>
            <script>
                var canvas = document.getElementById('profileCanvas');
                var ctx = canvas.getContext('2d');
                var img = new Image();
                img.src = "{{ user.profile.img.url }}"; // ใส่ URL ของรูปภาพของคุณที่นี่

                img.onload = function () {
                    ctx.beginPath();
                    ctx.arc(150, 150, 150, 0, 2 * Math.PI);
                    ctx.clip();
                    ctx.drawImage(img, 0, 0, 300, 300);
                };
            </script>
            <div class="container justify-content-center d-flex">
                <form method="post" action="{% url 'accounts:delete_profile_picture' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-3"><i class="bi bi-trash3-fill"></i></button>
                </form> &nbsp; &nbsp;
                <a href="{% url 'accounts:upload_profile_picture' %}" class="btn btn-success mt-3 ml-2"><i
                        class="bi bi-images"></i></a>
            </div>
            {% else %}
            <br><br><br><br><br><br>
            <p class="text-center">ไม่มีรูปโปรไฟล์</p>
            <div class="container justify-content-center d-flex">
                <a href="{% url 'accounts:upload_profile_picture' %}" class="btn btn-success mt-3">อัพโหลดรูปโปรไฟล์
                    <i class="bi bi-images"></i></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="col-md-6 container justify-content-center p-3" style="background-color: rgba(255, 255, 255, 0.815); border-radius: 20px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <!-- Display form errors -->
        {% if form.errors %}
            <ul>
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {{ form.as_p }}
        {{ extended_form.as_p }}
        
        
        <!-- Submit Button -->
        <!-- <div class="form-group ">
            <button class="btn btn-primary mt-2 mb-3" type="submit">บันทึกข้อมูล</button>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-6 d-flex justify-content-end">
                <a type="button" href="{% url 'accounts:user_profile_detail' user.username %}"
                    class="btn btn-danger">ย้อนกลับ</a>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button class="btn btn-primary" type="submit">บันทึกข้อมูล</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}