{% extends "dashboard.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">
    {% if obj == 1 %}
    <div class="row mb-4">
        <div class="col mb-5" style="justify-content: center; display: flex;">
            <div>
                {% if user.profile.img.url == user.profile.img.url %}
                <!-- <img src="{{ profile.img.url }}" style="max-height: 295px; border-radius: 50%; " class="mt-3 img-rounded mb-3" alt=""> -->
                <canvas class="mt-5 mb-3" id="profileCanvas" width="300" height="300"
                    style="border-radius: 50%;"></canvas>
                <script>
                    var canvas = document.getElementById('profileCanvas');
                    var ctx = canvas.getContext('2d');

                    var img = new Image();
                    img.src = "{{ user.profile.img.url }}"; // ใส่ URL ของรูปภาพของคุณที่นี่

                    img.onload = function () {
                        ctx.beginPath();
                        ctx.arc(150, 150, 150, 0, 2 * Math.PI);
                        ctx.clip();
                        ctx.drawImage(img, 0, 0, 300, 300);
                    };
                </script>
                <div class="container justify-content-center d-flex">
                    <form method="post" action="{% url 'accounts:delete_profile_picture_manager' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mt-3"><i class="bi bi-trash3-fill"></i></button>
                    </form> &nbsp; &nbsp;
                    <a href="{% url 'accounts:upload_profile_picture_manager' %}" class="btn btn-success mt-3 ml-2"><i
                            class="bi bi-images"></i></a>
                </div>
                {% else %}
                <br><br><br><br><br><br>
                <p class="text-center">ไม่มีรูปโปรไฟล์</p>
                <div class="container justify-content-center d-flex">
                    <a href="{% url 'accounts:upload_profile_picture_manager' %}" class="btn btn-success mt-3">อัพโหลดรูปโปรไฟล์
                        <i class="bi bi-images"></i></a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col">
            
            <div class="row text-center mb-3">
                <h4>ข้อมูลส่วนตัวของผู้ใช้</h4>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>ชื่อ-นามสกุล</b></div>
                <div class="col">{{ user.get_full_name }}</div>
            </div>

            <div class="row">
                <div class="col-lg-3"><b>เพศ</b></div>
                <div class="col-lg">{{ profile.gender }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>ตำแหน่ง</b></div>
                <div class="col-lg">{{ profile.position }}</div>
            </div>
            <div class="row ">
                <div class="col-lg-3"><b>กลุ่มงาน</b></div>
                <div class="col-lg">{{ profile.workgroup }}</div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3"><b>เบอร์โทรศัพท์มือถือ</b></div>
                <div class="col-lg">{{ profile.phone }}</div>
            </div>


            <div class="row text-center mb-3">
                <h5>ข้อมูลบัญชี</h5>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>ชื่อผู้ใช้</b></div>
                <div class="col">{{ user.username }}</div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-3"><b>ที่อยู่อีเมล์</b></div>
                <div class="col-lg">{{ user.email }}</div>
            </div>

            <div class="row text-center mb-3">
                <h5>ข้อมูลการเข้าใช้งานระบบ</h5>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>สถานะผู้ใช้งาน</b></div>
                <div class="col-lg" style="color:rgb(0, 134, 0); font-weight: bold;">{% if user.is_general and user.is_manager and user.is_admin %}
                    ผู้เข้าถึงสิทธิ์ทั้งหมด
                {% elif user.is_general and user.is_manager %}
                    ผู้ใช้งาน, ผู้จัดการระบบ
                {% elif user.is_general and user.is_executive %}
                    ผู้ใช้งาน, ผู้บริหาร
                {% elif user.is_manager and user.is_admin %}
                    ผู้จัดการระบบ, แอดมิน
                {% elif user.is_general %}
                    ผู้ใช้งาน
                {% elif user.is_executive %}
                    ผู้บริหาร
                {% elif user.is_manager %}
                    ผู้จัดการระบบ
                {% elif user.is_admin %}
                    แอดมิน
                {% else %}
                    <span style="color:rgb(224, 127, 0); font-weight: bold;">ไม่มีสถานะ</span>
                {% endif %}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>กำลังใช้งานระบบ</b></div>
                {% if is_active %}
                <div class="col-lg">
                    <i class="bi bi-x-circle-fill" style="color:red;"></i>
                </div>
                {% else %}
                <div class="col-lg">
                    <i class="bi bi-check-circle-fill" style="color:green;"></i>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-lg-3"><b>วันที่สร้างข้อมูล</b></div>
                <div class="col-lg">{{ user.date_joined|date:"d M Y เวลา H:i น." }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>เข้าใช้งานล่าสุด</b></div>
                <div class="col-lg">{{ user.last_login|date:"d M Y เวลา H:i น." }}</div>
            </div>
            <div class="row mt-3 justify-content-center container">
                <!-- <div class="col-3"><a class="btn btn-primary mt-3 w-100 " onclick="history.back()">ย้อนกลับ</a></div> -->
                <a class=" btn btn-warning mt-3" style="width: 120px;"
                    href="{% url 'accounts:edit_profile_manager' %}">แก้ไขข้อมูล</a>
            </div>
        </div>

    </div>
    <script>
        // สร้างฟังก์ชันเพื่อแสดงวันเดือนปี
        function showDate() {
            var today = new Date();
            var options = { year: 'numeric', month: 'long', day: 'numeric' };
            var formattedDate = today.toLocaleDateString('th-TH', options); // เปลี่ยนภาษาไทยตามความเหมาะสม

            document.getElementById('date').textContent = formattedDate;
        }

        // เรียกใช้ฟังก์ชันเมื่อหน้าเว็บโหลดเสร็จ
        showDate();
    </script>

    {% else %}
    <div class="d-flex align-items-center justify-content-center mt-5">
        <div class="row justify-content-center " style="text-align: center; justify-content: center;">
            <div>
                <h5>{{ profile }}</h5>
            </div>
            <div class="mt-3">
                <a class="btn btn-outline-success"
                    href="{% url 'accounts:edit_profile_manager' %}">เพิ่มข้อมูลส่วนตัว</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}