{% extends "base_sidebar.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-3 text-center">รายละเอียดครุภัณฑ์</h2>
    <div class="card shadow-sm">
        <div class="row g-0">
            <div class="col-md-4 p-3">
                {% if asset.asset_image %}
                    <img src="{{ asset.asset_image.url }}" class="img-fluid" alt="{{ asset.item_name }}" style="width: 100%; object-fit: cover; border-radius: 15px;">
                {% else %}
                    <img src="https://via.placeholder.com/300" class="img-fluid rounded-lg-start" alt="ไม่มีรูปภาพ">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ asset.item_name }}</h5>
                    <p class="card-text"><strong>รหัสครุภัณฑ์:</strong> SP-{{ asset.asset_code }}</p>
                    <p class="card-text"><strong>หมวดหมู่:</strong> {{ asset.subcategory }}</p>
                    <p class="card-text"><strong>หมวดหมู่ย่อย:</strong> {{ asset.subcategory.category.name_cate }}</p>
                    <p class="card-text"><strong>สถานที่จัดเก็บ:</strong> {{ asset.storage_location }}</p>
                    <p class="card-text"><strong>สถานะการใช้งาน:</strong> 
                        <span class="badge 
                        {% if asset.damage_status == 'ใช้อยู่' %} bg-success 
                        {% elif asset.damage_status == 'ชำรุด' %} bg-danger 
                        {% elif asset.damage_status == 'เสื่อม' %} bg-warning 
                        {% else %} bg-secondary {% endif %}">
                        {{ asset.get_damage_status_display }}
                    </span>
                    </p>
                    <p class="card-text">
                        <strong>ครุภัณฑ์ที่ยืมได้:</strong> 
                        <span class="badge {% if asset.status_borrowing %} bg-success {% else %} bg-danger {% endif %}">
                            {% if asset.status_borrowing %} ยืมได้ {% else %} ยืมไม่ได้ {% endif %}
                        </span>
                    </p>
                    <p class="card-text">
                        <strong>สถานะการยืม:</strong> 
                        <span class="badge {% if asset.status_assetloan %} bg-warning {% else %} bg-success {% endif %}">
                            {% if asset.status_assetloan %} ถูกยืมแล้ว {% else %} ว่าง {% endif %}
                        </span>
                    </p>
                    

                    <div class="mt-3 mb-3">
                        <form action="{% url 'assets:add_to_cart' asset.id %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="asset_id" value="{{ asset.id }}">
                          <button type="submit" class="btn btn-sm {% if asset.id in cart_item_ids %}btn-secondary disabled{% else %}btn-success{% endif %}">
                              {% if asset.id in cart_item_ids %}เพิ่มแล้ว{% else %}เพิ่มในตะกร้า{% endif %}
                          </button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}