{% extends "dashboard.html" %}
{% block content %}

<div style="margin-left: 10px; margin-right: 10px;">

    <!-- ฟอร์มสำหรับเลือกช่วงเดือนและปี -->
    <form method="get" action="{% url 'dashboard:dashboard_home' %}" class="row gy-2 gx-3 align-items-center justify-content-end mb-4">
        <div class="col-auto">
            <select name="start_month" id="start_month" class="form-select">
                {% for m in months %}
                    <option value="{{ m.0 }}" {% if m.0 == selected_start_month %}selected{% endif %}>{{ m.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select name="start_year" id="start_year" class="form-select">
                {% for y in years %}
                    <option value="{{ y }}" {% if y == selected_start_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto"><h5>ถึง</h5></div>

        <div class="col-auto">
            <select name="end_month" id="end_month" class="form-select">
                {% for m in months %}
                    <option value="{{ m.0 }}" {% if m.0 == selected_end_month %}selected{% endif %}>{{ m.1 }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="col-auto">
            <select name="end_year" id="end_year" class="form-select">
                {% for y in years %}
                    <option value="{{ y }}" {% if y == selected_end_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">ค้นหา</button>
            <a href="{% url 'dashboard:dashboard_home' %}" class="btn btn-secondary">ยกเลิก</a>
            <!-- <button type="button" class="btn btn-secondary" onclick="clearFormAndSubmit()">ยกเลิก</button> -->
        </div>
    </form>

    <!-- แสดงกราฟข้อมูลจำนวนเงินที่เบิก -->
    <div class="container mt-5">
        <h5 class="text-center mb-4">กราฟแสดงข้อมูลสัดส่วนการเบิกวัสดุ</h5>
        <div class="row col-12 mt-4">
            <!-- <div class="col-6">
                {{ graph_html_user_amount_pie|safe }}
            </div> -->
            <div class="col-auto">
                {{ graph_html_group_amount_pie|safe }}
            </div>
        </div>
    </div>

    <!-- แสดงกราฟข้อมูลจำนวนที่เบิก -->
    <div class="container mt-4">
        <h5 class="text-center">กราฟแสดงข้อมูลจำนวนพัสดุที่เบิกในแต่ละกลุ่มงาน</h5>
        <div class="card shadow-sm">
            <div class="card-body">
                {{ graph_html_quantity|safe }}
            </div>
        </div>
    </div>
    
    <!-- แสดงกราฟข้อมูลจำนวนเงินที่เบิก -->
    <div class="container mt-4">
        <h5 class="text-center">กราฟแสดงข้อมูลจำนวนเงินที่เบิกวัสดุในแต่ละกลุ่มงาน</h5>
        <div class="card shadow-sm">
            <div class="card-body">
                {{ graph_html_amount|safe }}
            </div>
        </div>
    </div>

</div>

<script>
    function clearFormAndSubmit() {
        document.getElementById("start_month").value = "";
        document.getElementById("start_year").value = "";
        document.getElementById("end_month").value = "";
        document.getElementById("end_year").value = "";
        document.querySelector('form').submit();
    }
</script>

{% endblock %}
