{% extends "dashboard.html" %}
{% block content %}

<div class="card-body" style="margin-left: 10px; margin-right: 10px;">

    <!-- ฟอร์มสำหรับเลือกเดือนและปี -->
    <form method="get" action="{% url 'dashboard:dashboard_home' %}" class="row gy-2 gx-3 align-items-center justify-content-end mb-4">
        <div class="col-auto">
            <select name="month" id="month" class="form-select">
                {% for m in months %}
                    <option value="{{ m.0 }}" {% if m.0 == selected_month %}selected{% endif %}>{{ m.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select name="year" id="year" class="form-select">
                {% for y in years %}
                    <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">ค้นหา</button>
            <button type="button" class="btn btn-secondary" onclick="clearFormAndSubmit()">ยกเลิก</button>
        </div>
    </form>

     <!-- แสดงกราฟข้อมูลจำนวนที่เบิก -->
     <div>
        {{ graph_html_quantity|safe }}
    </div>
    
    <!-- แสดงกราฟข้อมูลจำนวนเงินที่เบิก -->
    <div>
        {{ graph_html_amount|safe }}
    </div>

    <!-- แสดงกราฟข้อมูลจำนวนเงินที่เบิก -->
    <div>
        {{ graph_html_user_amount_pie|safe }}
    </div>
  
    <!-- ส่วนอื่น ๆ ของ Dashboard -->
</div>
<script>
    function clearFormAndSubmit() {
        document.getElementById("month").value = "";
        document.getElementById("year").value = "";
        document.querySelector('form').submit();
    }
</script>
{% endblock %}
