{% extends "dashboard.html" %}
{% load custom_filters %}
{% load humanize %}
{% block content %}

<head>
    <title>รายงานการเบิกจ่ายสินค้า</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
            word-wrap: break-word; /* เพิ่ม word-wrap เพื่อให้ตัดคำ */
            white-space: normal; /* เพิ่ม white-space เพื่อให้ข้อความยาวสามารถตัดบรรทัดใหม่ */
        }

        th,
        td {
            padding: 8px;
            /* เปลี่ยน padding เป็น 8px */
            text-align: left;
            font-size: 12px;
            /* เพิ่ม font-size เป็น 14px */
        }

        /* เพิ่ม CSS สำหรับการระบายสีคอลัมน์ของผู้ใช้งาน */
        .user-column1 {
            background-color: #c7c7c7;
            /* เปลี่ยนสีพื้นหลังตามต้องการ */
        }

        .user-column {
            background-color: #ebebeb;
            /* เปลี่ยนสีพื้นหลังตามต้องการ */
        }

        .user-column_tr {
            background-color: #e9e9e9;
            /* เปลี่ยนสีพื้นหลังตามต้องการ */
        }
    </style>
</head>
    <!-- ฟอร์มสำหรับเลือกเดือนและปี -->
    <div class="text-end">
        <form method="get" action="{% url 'dashboard:monthly_report' %}" class="row gy-2 gx-3 align-items-center justify-content-end mb-4">
            
            <div class="col-auto">
                <label for="category">เลือกหมวดหมู่หลัก</label>
            </div>
            <div class="col-auto">
                <select name="category" id="category" class="form-control">
                    <option value="">ทั้งหมด</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id|stringformat:"d" == selected_category %}selected{% endif %}>
                        {{ category.name_cate }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-auto">
                <!-- <label for="month" class="form-label">เดือน:</label> -->
                <select name="month" id="month" class="form-select">
                    {% for m in months %}
                        <option value="{{ m.0 }}" {% if m.0 == month %}selected{% endif %}>{{ m.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="col-auto">
                <!-- <label for="year" class="form-label">ปี:</label> -->
                <select name="year" id="year" class="form-select">
                    {% for y in years %}
                        <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y|add:543 }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">ค้นหา</button>
                <a type="button" class="btn btn-secondary" href="{% url 'dashboard:monthly_report' %}">ยกเลิก</a>
            </div>
        </form>
        
        
        <h3 class="text-center">รายงานการเบิกวัสดุ ประจำเดือน {{ month_name }} พ.ศ. {{ buddhist_year }} ({{ selected_category_name }})</h3>
        
        <script>
            function clearFormAndSubmit() {
                document.getElementById("month").value = "";  // Clear month value
                document.getElementById("year").value = "";   // Clear year value
                document.querySelector('form').submit();       // Submit the form
            }
        </script>
        
        
        <a href="{% url 'dashboard:export_to_excel' %}?category={{ selected_category }}&month={{ month }}&year={{ year }}" class="icon-link justify-content-end">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 48 48">
                <rect width="16" height="9" x="28" y="15" fill="#21a366"></rect>
                <path fill="#185c37" d="M44,24H12v16c0,1.105,0.895,2,2,2h28c1.105,0,2-0.895,2-2V24z"></path>
                <rect width="16" height="9" x="28" y="24" fill="#107c42"></rect>
                <rect width="16" height="9" x="12" y="15" fill="#3fa071"></rect>
                <path fill="#33c481" d="M42,6H28v9h16V8C44,6.895,43.105,6,42,6z"></path>
                <path fill="#21a366" d="M14,6h14v9H12V8C12,6.895,12.895,6,14,6z"></path>
                <path d="M22.319,13H12v24h10.319C24.352,37,26,35.352,26,33.319V16.681C26,14.648,24.352,13,22.319,13z"
                    opacity=".05"></path>
                <path
                    d="M22.213,36H12V13.333h10.213c1.724,0,3.121,1.397,3.121,3.121v16.425	C25.333,34.603,23.936,36,22.213,36z"
                    opacity=".07"></path>
                <path
                    d="M22.106,35H12V13.667h10.106c1.414,0,2.56,1.146,2.56,2.56V32.44C24.667,33.854,23.52,35,22.106,35z"
                    opacity=".09"></path>
                <linearGradient id="flEJnwg7q~uKUdkX0KCyBa_UECmBSgBOvPT_gr1" x1="4.725" x2="23.055" y1="14.725"
                    y2="33.055" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#18884f"></stop>
                    <stop offset="1" stop-color="#0b6731"></stop>
                </linearGradient>
                <path fill="url(#flEJnwg7q~uKUdkX0KCyBa_UECmBSgBOvPT_gr1)"
                    d="M22,34H6c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C24,33.105,23.105,34,22,34z">
                </path>
                <path fill="#fff"
                    d="M9.807,19h2.386l1.936,3.754L16.175,19h2.229l-3.071,5l3.141,5h-2.351l-2.11-3.93L11.912,29H9.526	l3.193-5.018L9.807,19z">
                </path>
            </svg>
        </a>
    </div>
    
<div class="table-responsive col-12">
    <table class="table table-hover" style="border: none;">
        <table>
            <thead>
                <tr class="user-column_tr">
                    <th colspan="100" style="text-align: center; border: none;">รายการเบิกวัสดุ ({{ selected_category_name }})</th>
                </tr>
                <tr class="user-column_tr">
                    <th colspan="100" style="text-align: center; border: none;">ประจำเดือน {{ month_name }} พ.ศ. {{ buddhist_year }} ประจำปีงบประมาณ พ.ศ. {{ buddhist_year }}</th>
                </tr>
                <tr class="user-column_tr">
                    <th colspan="100" style="text-align: center; border: none;">หน่วยงาน โครงการอุทยานวิทยาศาสตร์ มหาวิทยาลัยอุบลราชธานี</th>
                </tr>
                <tr class="user-column_tr">
                    <th rowspan="2" class="text-center" style="width: 3%;">รหัสวัสดุ</th>
                    <th rowspan="2" class="text-center" style="width: 15%;">รายการสินค้า</th>
                    <th rowspan="2" class="text-center" style="width: 5%;">หน่วยนับ</th>
                    <th rowspan="2" class="text-center" style="width: 5%;">จำนวนคงเหลือ (ยกมา)</th>
                    <th rowspan="2" class="text-center" style="width: 5%;">จำนวนรับเข้า (ปัจจุบัน)</th>
                    <th rowspan="2" class="text-center" style="width: 7%;">รวมจำนวน คงเหลือ+รับเข้า</th>
                    <th colspan="{{ all_users|length }}" class="text-center">รายชื่อผู้เบิกวัสดุ</th>
                    <th rowspan="2" class="text-center" style="width: 10%;">รวมจำนวนที่เบิก</th>
                    <th rowspan="2" class="text-center" style="width: 10%;">วัสดุคงเหลือทั้งสิ้น</th>
                    <th rowspan="2" class="text-center" style="width: 10%;">มูลค่าวัสดุเบิกทั้งสิ้น (บาท)</th>
                    <!-- <th rowspan="2" class="text-center" style="width: 10%;">จำนวนเงิน</th> -->
                    <!-- <th rowspan="2" class="text-center">หมายเหตุ</th> -->
                </tr>
                <tr class="user-column_tr">
                    {% for user in all_users %}
                    <th class="user-column1 text-center" style="width: 5%;">{{ user }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in report_data %}
                <tr>
                    <!-- <td class="text-center">{{ forloop.counter }}</td> -->
                    <td>{{ item.product_id }}</td>
                    <td>{{ item.product }}</td>
                    <td class="text-center">{{ item.unit }}</td>

                    {% if item.previous_balance == 0 %}
                    <td class="text-center">{{ item.previous_balance|intcomma }}</td>
                    {% else %}
                    <td class="text-center" style="background-color: #fad5b7;">{{ item.previous_balance|intcomma }}</td>
                    {% endif %}

                    {% if item.received_current_month == 0 %}
                    <td class="text-center">{{ item.received_current_month|intcomma }}</td>
                    {% else %}
                    <td class="text-center bg-info">{{ item.received_current_month|intcomma }}</td>
                    {% endif %}

                    <td class="text-center">{{ item.total_balance|intcomma }}</td>
                    {% for user in all_users %}

                    {% if item.user_issuings|get_item:user == 0 %}
                    <td class="user-column text-center">{{ item.user_issuings|get_item:user }}</td>
                    {% else %}
                    <td class="bg-warning text-center">{{ item.user_issuings|get_item:user }}</td>
                    {% endif %}

                    {% empty %}                
                    <td class="text-center">ไม่มีข้อมูลผู้เบิก</td>                    
                    {% endfor %}
                    <td class="text-center">{{ item.issued_current_month|intcomma }} {{ item.unit }}</td>
                    <td class="text-center">{{ item.remaining_balance|intcomma }} {{ item.unit }}</td>
                    <td class="text-end">{{ item.total_issued_value|intcomma }} บาท</td>
                    <!-- <td class="text-center">{{ item.total_price|intcomma }} บาท</td> -->
                    <!-- <td>{{ item.note }}</td> -->
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="6" class="text-center"><strong>รวมรายจ่ายที่เบิก</strong></td>
                    {% for user in all_users %}
                    <td class="text-center"><strong>{{ total_issued_value_by_user|get_item:user|intcomma }} บาท</strong></td>
                    {% endfor %}
                    <td colspan="2"></td>
                    <td class="text-end"><strong>{{ total_issued_value|intcomma }} บาท</strong></td>
                    <!-- <td></td> -->
                </tr>
            </tbody>
        </table>
    </table><br><br>
</div>
{% endblock %}