{% extends "dashboard.html" %}
{% load humanize %}
{% block content %}

<script type="text/javascript">
  setInterval(function(){
    window.location.reload();
  }, 60000);  //3000มิลลิวินาที=30วินาที รีเฟรชทุก 30 วินาที
</script>   
<style>
  .form-check-input {
      display: none; /* ซ่อน radio button ดั้งเดิม */
  }
  .custom-radio {
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 2px solid #ccc; /* สีพื้นฐาน */
      border-radius: 50%; /* ให้เป็นวงกลม */
      background-color: white; /* สีพื้นหลังเป็นขาว */
      cursor: pointer;
      position: relative;
  }
  .form-check-input:checked + .custom-radio {
      background-color: green; /* สีพื้นหลังเมื่อเลือก */
      border: 2px solid green; /* เปลี่ยนสีขอบเมื่อเลือก */
  }
  /* สำหรับ radio button ปฏิเสธ */
  .form-check-input:checked + .custom-radio.reject {
      background-color: red; /* สีพื้นหลังเมื่อเลือก */
      border: 2px solid red; /* เปลี่ยนสีขอบเมื่อเลือก */
  }

   /* สำหรับ label  */
.form-group {
  position: relative;
  border: 1px solid #ced4da; /* เส้นขอบของฟอร์ม */
  border-radius: 5px;       /* มุมโค้งเล็กน้อย */
  padding-top: 15px;        /* เพิ่มระยะห่างด้านบนสำหรับ label */
}

.floating-label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  transition: 0.2s;
  color: #6c757d;
  pointer-events: none;
}

.form-control:focus + .floating-label,
.form-control:not(:placeholder-shown) + .floating-label {
  top: -10px;
  font-size: 12px;
  color: #007bff;
  padding: 0 5px;
}


</style>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table table-secondary">
      <tr>
        <th scope="col">n</th>
        <th scope="col">ผู้ใช้งาน</th>
        <th scope="col">เลขที่เบิก</th>
        <th scope="col">จำนวน</th>
        <th scope="col" >ยอดรวม</th>
        <th scope="col" style="width: 5px;">วันที่เบิก</th>
        <th scope="col" class="text-center">สถานะ</th>
        <th scope="col" class="text-center">เจ้าหน้าที่</th>
        <th scope="col" class="text-center">ผู้เบิกกดยันยัน</th>
        <th scope="col" class="text-center">ทำรายการ</th>
        <th scope="col">รายละเอียด</th>
        <!-- <th scope="col">จดหมาย</th> -->
      </tr>
    </thead>
    {% for order in orders_all %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td scope="row">{{ order.user.get_full_name }}</td>
        <td scope="row">ID {{ order.id }}</td>
        <td scope="row">{{ order.items.count }} รายการ</td>
        <td scope="row" >{{ order.get_total_price|intcomma }} ฿</td>
        <td scope="row" style="font-size: 14px; ">{{ order.date_created| date:"d M Y, H:i" }} น.</td>


        {% if order.status == True and order.confirm == True %}
        <th scope="row" class="text-center"><span class="badge bg-success">เบิกวัสดุสำเร็จ</span></td>
        {% elif order.status == True %}
        <th scope="row" class="text-center"><span class="badge bg-success">อนุมัติ</span></td>
        {% elif order.status == False %}
        <th scope="row" class="text-center"><span class="badge bg-danger">ปฏิเสธ</span></td>
        {% else %} 
        <th scope="row" class="text-center"><span class="badge bg-warning">รอดำเนินการ..</span></td>

        {% endif %}


        <td scope="col" class="text-center">
          {% if order.status == None %}
          <!-- <strong class="text-warning">รออนุมัติ..</td> -->
          <span class="badge bg-warning">รออนุมัติ..</span>
          {% elif order.status and order.pay_item == False %}
            <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
              data-bs-target="#exampleModal4{{ order.id }}">
              ยืนยันการจ่าย
            </button>
          {% elif order.status == False and order.pay_item == False %}
          <i class="bi bi-x-circle-fill text-danger "></i>
          {% else %}
          <span class="badge bg-success">จ่ายวัสดุแล้ว</span>
          {% endif %}
        </td>


        <td scope="col" class="text-center">
          {% if order.status == None %}
          <!-- <strong scope="row" class="text-warning text-center">รออนุมัติ..</strong> -->
          <span class="badge bg-warning">รออนุมัติ..</span>
          {% elif order.confirm == True %}
          <span class="badge bg-success">รับวัสดุแล้ว</span>
          {% elif order.status == False and order.pay_item == False %}
          <i class="bi bi-x-circle-fill text-danger text-center"></i>
          {% else %}
          <span class="badge bg-danger">ยังไม่ตอบรับวัสดุ!</span>
          {% endif %}
        </td>

        <td scope="col" class="text-center"><!-- Button trigger modal -->
          {% if order.status == None %}
          <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{ order.id }}">
            อนุมัติ
          </button>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal2{{ order.id }}">
            ปฏิเสธ
          </button>
          
          {% elif order.status == False %}
          <i class="bi bi-x-circle-fill text-danger"></i>
          
          {% elif order.confirm == True %}
          <i class="bi bi-check-circle-fill text-success"></i>
          
          {% elif order.confirm == False %}
          <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal3{{ order.id }}">
            <i class="bi bi-pencil-square"></i> แก้ไขคำร้อง
          </button>
         {% endif %}
        </td>
        
        <!-- Modal อนุมัติ -->
        <form action="{% url 'dashboard:approve_orders' order.id %}" method="POST">
          {% csrf_token %}
          <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="width: 20rem;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <div class="form-check container justify-content-center d-flex mb-3">
                    <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" 
                           value="True" checked>
                    <label class="custom-radio" for="flexRadioDefault1" ></label>
                    <label class="text-success" for="flexRadioDefault1" style="font-size: 20px;">
                        &nbsp;&nbsp;อนุมัติ
                    </label>
                  </div>
                  
                  <div class="col-8 mt-3">
                    <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
                    <input type="datetime-local" 
                           name="date_receive" 
                           class="form-control" 
                           id="exampleFormControlInput1" readonly 
                           style="background-color: #f8f9fa; color: #6c757d; font-size: 0.85rem;">
                  </div>
                  <h6 class="text-danger">จ่ายวัสดุทุกวันจันทร์ เวลา 16:00 น.</h6>

                  <div class="col-8">
                    <label for="exampleFormControlInput2" class="form-label">วันที่อนุมัติ</label>
                    <input type="datetime-local"
                           name="date_approved"
                           class="form-control form-control-sm text-secondary"
                           value="{{ now|date:'Y-m-d\\TH:i' }}"
                           id="exampleFormControlInput2"
                           readonly
                           style="background-color: #f8f9fa; color: #6c757d; font-size: 0.85rem;">
                  </div>
                  
                  <script>
                    // สร้างวันที่เริ่มต้นจากวันนี้
                    const date = new Date();
                  
                    // หาวันจันทร์ถัดไป
                    const day = date.getDay(); // ค่าที่ได้จะอยู่ระหว่าง 0 (อาทิตย์) ถึง 6 (เสาร์)
                    const daysUntilMonday = (day === 0) ? 1 : (8 - day); // คำนวณหาจำนวนวันที่ต้องเพิ่มเพื่อให้ถึงวันจันทร์
                    date.setDate(date.getDate() + daysUntilMonday); // เพิ่มวันที่เพื่อให้ถึงวันจันทร์
                  
                    // ตั้งเวลาเป็น 16:00 น.
                    date.setHours(23, 0, 0, 0);
                  
                    // จัดรูปแบบวันที่ตามที่ต้องการสำหรับ input type="datetime-local"
                    const formattedDate = date.toISOString().slice(0, 16);
                  
                    // เซตค่าวันที่เริ่มต้นของ input
                    document.getElementById('exampleFormControlInput1').value = formattedDate;
                  </script>

                  <script>
                    // ตั้งค่าวันที่ให้เป็นวันที่ปัจจุบันในฟิลด์วันที่รับ
                    document.addEventListener('DOMContentLoaded', function() {
                        const dateInput = document.getElementById('exampleFormControlInput2');
                        const now = new Date();
                        const year = now.getFullYear();
                        const month = String(now.getMonth() + 1).padStart(2, '0'); // เดือนเริ่มต้นที่ 0
                        const day = String(now.getDate()).padStart(2, '0');
                        const hours = String(now.getHours()).padStart(2, '0');
                        const minutes = String(now.getMinutes()).padStart(2, '0');
                        dateInput.value = `${year}-${month}-${day}T${hours}:${minutes}`; // ตั้งค่าฟิลด์เป็นวันที่และเวลาปัจจุบัน
                    });
                </script>
    
                  <div class="col mb-3 mt-3">
                    <label class="form-label">หมายเหตุ</label>
                    {% if order.other == None %}
                    <input type="text" name="other" class="form-control" placeholder="ถ้ามี">
                    {% else %}
                    <input type="text" value="{{ order.other }}" name="other" class="form-control" placeholder="ถ้ามี">
                    {% endif %}
                  </div>

                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                  <!-- <button type="submit" class="btn btn-primary">ยืนยัน</button> -->
                  <button class="btn btn-success" type="submit" onclick="this.disabled=true; this.innerHTML='กำลังประมวลผล...'; this.form.submit();">
                    ยืนยัน
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- Modal2 ปฏิเสธ  -->
        <form action="{% url 'dashboard:approve_orders' order.id %}" method="POST">
          {% csrf_token %}
          <div class="modal fade" id="exampleModal2{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel2"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="width: 20rem;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  
                  <div class="form-check container justify-content-center d-flex">
                      <input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" 
                          value="False" checked>
                      <label class="custom-radio reject" for="flexRadioDefault2"></label>
                      <label class="text-danger" for="flexRadioDefault2" style="font-size: 20px;">
                          &nbsp;&nbsp;ปฏิเสธ
                      </label>
                  </div>

                  <div class="col-8">
                    <label for="exampleFormControlInput3" class="form-label">วันที่อนุมัติ</label>
                    <input type="datetime-local"
                           name="date_approved"
                           class="form-control form-control-sm text-secondary"
                           value="{{ now|date:'Y-m-d\\TH:i' }}"
                           id="exampleFormControlInput3"
                           readonly
                           style="background-color: #f8f9fa; color: #6c757d; font-size: 0.85rem;">
                  </div>

                  <script>
                    // ตั้งค่าวันที่ให้เป็นวันที่ปัจจุบันในฟิลด์วันที่รับ
                    document.addEventListener('DOMContentLoaded', function() {
                        const dateInput = document.getElementById('exampleFormControlInput3');
                        const now = new Date();
                        const year = now.getFullYear();
                        const month = String(now.getMonth() + 1).padStart(2, '0'); // เดือนเริ่มต้นที่ 0
                        const day = String(now.getDate()).padStart(2, '0');
                        const hours = String(now.getHours()).padStart(2, '0');
                        const minutes = String(now.getMinutes()).padStart(2, '0');
                        dateInput.value = `${year}-${month}-${day}T${hours}:${minutes}`; // ตั้งค่าฟิลด์เป็นวันที่และเวลาปัจจุบัน
                    });
                  </script>

                  <div class="col mb-3 mt-3">
                    <label class="form-label">หมายเหตุ</label>
                    {% if order.other == None %}
                    <input type="text" name="other" class="form-control" placeholder="กรณีปฏิเสธคำร้อง หรืออนุมัติถ้ามี" required>
                    {% else %}
                    <input type="text" value="{{ order.other }}" name="other" class="form-control" placeholder="กรณีปฏิเสธคำร้อง หรืออนุมัติถ้ามี" required>
                    {% endif %}
                  </div>

                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                  <!-- <button type="submit" class="btn btn-primary">ยืนยัน</button> -->
                  <button class="btn btn-success" type="submit" onclick="this.disabled=true; this.innerHTML='กำลังประมวลผล...'; this.form.submit();">
                    ยืนยัน
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- Modal3 แก้ไขข้อมูล -->
        <form action="{% url 'dashboard:approve_orders' order.id %}" method="POST">
          {% csrf_token %}
          <div class="modal fade" id="exampleModal3{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel3"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="width: 20rem;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">แก้ไขคำร้อง ID {{ order.id }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <div class="form-check container justify-content-center d-flex mb-3">
                    <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" 
                           value="True" style="display: block;" {% if order.status == True %} checked {% endif %}>
                    <!-- <label class="custom-radio" for="flexRadioDefault1" ></label> -->
                    <label class="text-success" for="flexRadioDefault1" style="font-size: 20px;">
                        &nbsp;&nbsp;อนุมัติ
                    </label>
                  </div>

                  <div class="form-check container justify-content-center d-flex">
                    <input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" 
                        value="False" style="display: block;" {% if order.status == False %} checked {% endif %}>
                    <!-- <label class="custom-radio reject" for="flexRadioDefault2"></label> -->
                    <label class="text-danger" for="flexRadioDefault2" style="font-size: 20px;">
                        &nbsp;&nbsp;ปฏิเสธ
                    </label>
                  </div>

                  <!-- <div class="col-8 mt-3">
                    <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
                    <input type="datetime-local" value='{{ order.date_receive|date:"Y-m-d\TH:i" }}' name="date_receive" class="form-control"
                      id="exampleFormControlInput1">
                  </div>
                  <p class="text-danger">จ่ายวัสดุทุกวันจันทร์ เวลา 16:00 น.</p>
                  

                  <div class="col mb-3 mt-3">
                    <label class="form-label">หมายเหตุ</label>
                    {% if order.other == None %}
                    <input type="text" name="other" class="form-control" placeholder="ถ้ามี">
                    {% else %}
                    <input type="text" value="{{ order.other }}" name="other" class="form-control" placeholder="ถ้ามี">
                    {% endif %}
                  </div> -->

                  <div class="col-8 mt-3">
                    <div class="form-group position-relative">
                      <input type="datetime-local" name="date_receive" class="form-control" id="exampleFormControlInput1"
                             value='{{ order.date_receive|date:"Y-m-d\TH:i" }}' required>
                      <label for="exampleFormControlInput1" class="floating-label">วันที่รับของ</label>
                    </div>
                  </div>
                  
                  <div class="col mb-3 mt-5">
                    <div class="form-group position-relative">
                      {% if order.other == None %}
                      <input type="text" name="other" class="form-control" id="other"
                             placeholder=" "  >
                      {% else %}
                      <input type="text" name="other" class="form-control" id="other"
                             placeholder="ถ้ามี" value="{{ order.other }}">
                      {% endif %}
                      <label for="other" class="floating-label">หมายเหตุ</label>
                    </div>
                  </div>

                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                  <!-- <button type="submit" class="btn btn-primary">ยืนยัน</button> -->
                  <button class="btn btn-success" type="submit" onclick="this.disabled=true; this.innerHTML='กำลังประมวลผล...'; this.form.submit();">
                    ยืนยัน
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>



        <!-- Modal4 จ่ายวัสดุ-->
        <form action="{% url 'dashboard:approve_pay' order.id %}" method="POST">
          {% csrf_token %}
          <div class="modal fade" id="exampleModal4{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel4"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content mt-5" style="width: 20rem;">
                <div class="modal-header">
                  <h5 class="modal-title text-center container" id="exampleModalLabel2">ยืนยันการจ่ายวัสดุ ID {{ order.id }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <div class="form-check container justify-content-center d-flex mb-3">
                    <input class="form-check-input" type="radio" name="pay_item" id="flexRadioDefault5" 
                           value="True" checked required>
                    <label class="custom-radio" for="flexRadioDefault5"></label>
                    <label class="form-check-label text-success" for="flexRadioDefault5" style="font-size: 20px;">
                        &nbsp;&nbsp;จ่ายวัสดุแล้ว
                    </label>
                  </div>
                  <div class="row">
                    <div class="col mb-3 mt-3">
                      <div class="form-group position-relative">
                        <input type="text" name="name_pay" class="form-control text-center text-primary" id="name_pay"
                               placeholder=" " value="{{ user.get_first_name }}" required readonly>
                        <label for="name_pay" class="floating-label">ชื่อ</label>
                      </div>
                    </div>
                    <div class="col mb-3 mt-3">
                      <div class="form-group position-relative">
                        <input type="text" name="surname_pay" class="form-control text-center text-primary" id="surname_pay"
                               placeholder=" " value="{{ user.get_last_name }}" required readonly>
                        <label for="surname_pay" class="floating-label">สกุล</label>
                      </div>
                    </div>
                  </div>
                  
                </div>
                
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                  <!-- <button class="btn btn-success" type="submit" onclick="this.disabled=true; this.innerHTML='กำลังประมวลผล...';">ยืนยัน</button> -->
                  <button class="btn btn-success" type="submit" onclick="this.disabled=true; this.innerHTML='กำลังประมวลผล...'; this.form.submit();">
                    ยืนยัน
                  </button>


                </div>
              </div>
            </div>
          </div>
          {% if request.GET.success == 'true' %}
          <script>
              document.addEventListener('DOMContentLoaded', function() {
                  Swal.fire({
                      title: 'ยืนยันการจ่ายวัสดุสำเร็จ!',
                      text: 'ข้อมูลการรับวัสดุถูกบันทึกเรียบร้อยแล้ว',
                      icon: 'success',
                      timer: 3000,
                      showConfirmButton: false
                  }).then(function() {
                      window.location.href = "{% url 'dashboard:orders_all' %}";
                  });
              });
          </script>
          {% endif %} 
        </form>

        <td>
          <!-- Link ไปยังรายละเอียดคำสั่งซื้อ -->
          <a href="{% url 'dashboard:order_detail' order.id %}" class="btn btn-primary btn-sm">
              <i class="bi bi-card-list"></i>
          </a>&nbsp;&nbsp;
      
          <!-- ปุ่มสำหรับแจ้งเตือนการยืนยันรับวัสดุ -->
          {% if order.status == False %}

          {% elif order.confirm == False %}
          <form method="POST" action="{% url 'app_linebot:send_receive_confirmation' order.id %}" style="display:inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning btn-sm">
                  <i class="bi bi-envelope-fill"></i>
              </button>
          </form>
          {% endif %}
        </td>
      
      </tr>
      {% empty %}
      <tr>
        <td colspan="11" class="text-center">ไม่มีข้อมูลในเดือนนี้</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}