{% extends "dashboard.html" %}
{% load humanize %}
{% block content %}

<script type="text/javascript">
  setInterval(function(){
    window.location.reload();
  }, 60000);  //3000มิลลิวินาที=30วินาที รีเฟรชทุก 30 วินาที
</script>   


<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table table-secondary">
      <tr>
        <th scope="col">n</th>
        <th scope="col">ผู้ใช้งาน</th>
        <th scope="col">เลขที่เบิก</th>
        <th scope="col">วันที่เบิก</th>
        <th scope="col">ยอดรวม</th>
        <th scope="col">สถานะ</th>
        <th scope="col">เจ้าหน้าที่</th>
        <th scope="col">ผู้เบิกกดยันยัน</th>
        <th scope="col">ทำรายการ</th>
        <th scope="col">รายละเอียด</th>
        <!-- <th scope="col">จดหมาย</th> -->
      </tr>
    </thead>
    {% for order in orders_all %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td scope="row">{{ order.user.get_full_name }}</td>
        <td scope="row">{{ order.id }}</td>
        <td scope="row">{{ order.date_created| date:"d M Y, H:i" }} น.</td>
        <td scope="row">{{ order.get_total_price|intcomma }} ฿</td>


        {% if order.status == True %}
        <th scope="row" class="text-success">อนุมัติ</td>
        {% elif order.status == False %}
        <th scope="row" class="text-danger">ปฏิเสธ</td>
        {% else %}
        <th scope="row" class="text-warning">รอดำเนินการ..</td>
        {% endif %}

        {% if order.status == None %}
        <th scope="row" class="text-warning">รออนุมัติ..</td>
        {% elif order.status and order.pay_item == False %}
          <td scope="col"><!-- Button trigger modal -->
            <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
              data-bs-target="#exampleModal2{{ order.id }}">
              ยืนยันการจ่าย
            </button>
          </td>
        {% elif order.status == False and order.pay_item == False %}
        <th><i class="bi bi-x-circle-fill text-danger"></i></th>
        {% else %}
          <th class="text-success">จ่ายวัสดุแล้ว</th>
        {% endif %}
        
        {% if order.status == None %}
        <th scope="row" class="text-warning">รออนุมัติ..</td>
        {% elif order.confirm == True %}
        <th scope="row" class="text-success">รับวัสดุแล้ว</th>
        {% elif order.status == False and order.pay_item == False %}
        <th><i class="bi bi-x-circle-fill text-danger"></i></th>
        {% else %}
        <th scope="row" class="text-danger">ยังไม่ตอบรับวัสดุ</th>
        {% endif %}

        <td scope="col"><!-- Button trigger modal -->
          {% if order.status == None %}
          <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{ order.id }}">
            อนุมัติ/ปฏิเสธ
          </button>
          
          {% elif order.status == False %}
          <i class="bi bi-x-circle-fill text-danger"></i>
          
          {% elif order.confirm == True %}
          <i class="bi bi-check-circle-fill text-success"></i>
          
          {% elif order.confirm == False %}
          <button class="btn btn-secondary btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{ order.id }}">
            แก้ไขคำร้อง
          </button>
         {% endif %}
        </td>
        
        <!-- Modal -->
        <form action="{% url 'dashboard:approve_orders' order.id %}" method="POST">
          {% csrf_token %}
          <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="width: 20rem;">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <div class="form-check container justify-content-center d-flex mb-3">
                    <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" 
                           value="True" {% if order.status == True %} checked {% endif %}>
                    <!-- <label class="custom-radio" for="flexRadioDefault1"></label> -->
                    <label class="form-check-label text-success" for="flexRadioDefault1" style="font-size: 20px;">
                        &nbsp;&nbsp;อนุมัติ
                    </label>
                </div>
                
                <div class="form-check container justify-content-center d-flex">
                    <input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" 
                           value="False" {% if order.status == False %} checked {% endif %}>
                    <!-- <label class="custom-radio reject" for="flexRadioDefault2"></label> -->
                    <label class="form-check-label text-danger" for="flexRadioDefault2" style="font-size: 20px;">
                        &nbsp;&nbsp;ปฏิเสธ
                    </label>
                </div>

                <div class="col-8 mt-3">
                  <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
                  <input type="datetime-local" value='{{ order.date_receive|date:"Y-m-d\TH:i" }}' name="date_receive" class="form-control"
                    id="exampleFormControlInput1">
                </div>
                <p class="text-danger">จ่ายวัสดุทุกวันจันทร์ เวลา 16:00 น. <br> กรณีปฏิเสธคำร้องไม่ต้องระบุวันที่</p>

                  <div class="col mb-3 mt-3">
                    <label class="form-label">หมายเหตุ</label>
                    {% if order.other == None %}
                    <input type="text" name="other" class="form-control">
                    {% else %}
                    <input type="text" value="{{ order.other }}" name="other" class="form-control">
                    {% endif %}
                  </div>

                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                  <button type="submit" class="btn btn-primary">ยืนยัน</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- Modal2 -->
        <form action="{% url 'dashboard:approve_pay' order.id %}" method="POST">
          {% csrf_token %}
          <div class="modal fade" id="exampleModal2{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel2"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content mt-5" style="width: 20rem;">
                <div class="modal-header">
                  <h5 class="modal-title text-center container" id="exampleModalLabel2">ยืนยันการจ่ายวัสดุ ID {{ order.id }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                  <div class="form-check container justify-content-center d-flex mb-3">
                    <input class="form-check-input" type="radio" name="pay_item" id="flexRadioDefault5" 
                           value="True" required>
                    <label class="custom-radio" for="flexRadioDefault5"></label>
                    <label class="form-check-label text-success" for="flexRadioDefault5" style="font-size: 20px;">
                        &nbsp;&nbsp;จ่ายวัสดุแล้ว
                    </label>
                </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                  <button type="submit" class="btn btn-primary">ยืนยัน</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <td>
          <!-- Link ไปยังรายละเอียดคำสั่งซื้อ -->
          <a href="{% url 'dashboard:order_detail' order.id %}" class="text-primary text-decoration-none">
              <i class="bi bi-card-list" style="font-size: 1.5rem;"></i>
          </a>&nbsp;&nbsp;
      
          <!-- ปุ่มสำหรับแจ้งเตือนการยืนยันรับวัสดุ -->
          {% if order.status == False %}

          {% elif order.confirm == False %}
          <form method="POST" action="{% url 'app_linebot:send_receive_confirmation' order.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning btn-sm">
                  <i class="bi bi-envelope-fill"></i>
              </button>
          </form>
         {% endif %}
      </td>
      
      </tr>
      {% empty %}
      <tr>
        <td colspan="9" class="text-center">ไม่มีข้อมูลในเดือนนี้</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

</div>
{% endblock %}