{% extends "dashboard.html" %}
{% load humanize %}
{% block content %}

<script type="text/javascript">
  setInterval(function () {
    window.location.reload();
  }, 30000);  //3000มิลลิวินาที=30วินาที รีเฟรชทุก 30 วินาที
</script>
<style>
  .form-check-input {
      display: none; /* ซ่อน radio button ดั้งเดิม */
  }

  .custom-radio {
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 2px solid #ccc; /* สีพื้นฐาน */
      border-radius: 50%; /* ให้เป็นวงกลม */
      background-color: white; /* สีพื้นหลังเป็นขาว */
      cursor: pointer;
      position: relative;
  }

  .form-check-input:checked + .custom-radio {
      background-color: green; /* สีพื้นหลังเมื่อเลือก */
      border: 2px solid green; /* เปลี่ยนสีขอบเมื่อเลือก */
  }

  /* สำหรับ radio button ปฏิเสธ */
  .form-check-input:checked + .custom-radio.reject {
      background-color: red; /* สีพื้นหลังเมื่อเลือก */
      border: 2px solid red; /* เปลี่ยนสีขอบเมื่อเลือก */
  }
  
  .form-check-label {
        font-size: 24px; /* ขนาดตัวอักษร */
    }
</style>

  <div class="table-responsive">
    <table class="table table-hover " style="margin-bottom: 20%;">
      <thead class="table table-secondary">
        <tr>
          <th scope="col">n</th>
          <th scope="col">ผู้ใช้งาน</th>
          <th scope="col">เลขที่เบิก</th>
          <th scope="col">ยอดรวม</th>
          <th scope="col">สถานะ</th>
          <th scope="col">ทำรายการ</th>
          <th scope="col">รายละเอียด</th>
        </tr>
      </thead>
      {% for order in orders %}
      <tbody>
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td scope="row">{{ order.user.get_full_name }}</td>
          <td scope="row">{{ order.id }}</td>
          <td scope="row">{{ order.get_total_price|intcomma }} ฿</td>

          {% if order.status == True %}
          <th scope="row" class="text-success">อนุมัติ</td>
            {% elif order.status == False %}

          <th scope="row" class="text-danger">ปฏิเสธ</td>
            {% else %}
          <th scope="row" class="text-warning">รอดำเนินการ..</td>
            {% endif %}

          <td scope="col"><!-- Button trigger modal -->
            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
              data-bs-target="#exampleModal{{ order.id }}">
              ดำเนินการ
            </button>
          </td>

          <!-- Modal -->
          <form action="{% url 'dashboard:approve_orders' order.id %}" method="POST">
            {% csrf_token %}
            <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="width: 20rem;">
                  <div class="modal-header">
                    <h5 class="modal-title text-center container" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <div class="form-check container justify-content-center d-flex mb-3">
                      <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" 
                             value="True" {% if order.status == True %} checked {% endif %}>
                      <label class="custom-radio" for="flexRadioDefault1"></label>
                      <label class="form-check-label text-success" for="flexRadioDefault1" style="font-size: 20px;">
                          &nbsp;&nbsp;อนุมัติ
                      </label>
                    </div>
                  
                    <div class="form-check container justify-content-center d-flex">
                        <input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" 
                              value="False" {% if order.status == False %} checked {% endif %}>
                        <label class="custom-radio reject" for="flexRadioDefault2"></label>
                        <label class="form-check-label text-danger" for="flexRadioDefault2" style="font-size: 20px;">
                            &nbsp;&nbsp;ปฏิเสธ
                        </label>
                    </div>

                    <div class="col-8 mt-3">
                      <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
                      <input type="datetime-local" name="date_receive" class="form-control"
                        id="exampleFormControlInput1">
                      <!-- <p class="text-danger">กรณีปฏิเสธคำร้องไม่ต้องระบุวันที่</p> -->
                    </div>
                    <p class="text-danger">จ่ายวัสดุทุกวันจันทร์ เวลา 16:00 น. <br> กรณีปฏิเสธคำร้องไม่ต้องระบุวันที่</p>


                    <div class="col mb-3 mt-3">
                      <label class="form-label">หมายเหตุ</label>
                      <input type="text" name="other" class="form-control">
                    </div>

                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <td><a href="{% url 'dashboard:order_detail' order.id %}" class="text-primary text-decoration-none"><i
                class="bi bi-search fs-5"></i></a>
          </td>

        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="text-center">ไม่มีคำร้องใหม่</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
</div>
{% endblock %}


<div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="content col-md-6 rounded" style="background-color: white;">

      <div class="modal-header">
        <h5 class="modal-title text-center container" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            อนุมัติ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="refuse" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            ปฏิเสธ
          </label>
        </div>

        <div class="col mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
          <input type="datetime-local" name="date_receive" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="submit" class="btn btn-primary">บันทึก</button>
        </div>
      </div>
    </div>
  </div>