{% extends "dashboard.html" %}
{% load humanize %}
{% block content %}

<script type="text/javascript">
  setInterval(function () {
    window.location.reload();
  }, 30000);  //3000มิลลิวินาที=30วินาที รีเฟรชทุก 30 วินาที
</script>
<style>
  .form-check-input {
      display: none; /* ซ่อน radio button ดั้งเดิม */
  }
  .custom-radio {
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 2px solid #ccc; /* สีพื้นฐาน */
      border-radius: 50%; /* ให้เป็นวงกลม */
      background-color: white; /* สีพื้นหลังเป็นขาว */
      cursor: pointer;
      position: relative;
  }
  .form-check-input:checked + .custom-radio {
      background-color: green; /* สีพื้นหลังเมื่อเลือก */
      border: 2px solid green; /* เปลี่ยนสีขอบเมื่อเลือก */
  }
  /* สำหรับ radio button ปฏิเสธ */
  .form-check-input:checked + .custom-radio.reject {
      background-color: red; /* สีพื้นหลังเมื่อเลือก */
      border: 2px solid red; /* เปลี่ยนสีขอบเมื่อเลือก */
  }
  .form-check-label {
          font-size: 24px; /* ขนาดตัวอักษร */
      }
</style>

  <div class="table-responsive">
    <table class="table table-hover " style="margin-bottom: 20%;">
      <thead class="table table-secondary">
        <tr>
          <th scope="col">n</th>
          <th scope="col">ผู้ใช้งาน</th>
          <th scope="col">เลขที่เบิก</th>
          <th scope="col">จำนวน</th>
          <th scope="col">ยอดรวม</th>
          <th scope="col">วันที่เบิก</th>
          <th scope="col" class="text-center">สถานะ</th>
          <th scope="col" class="text-center">ทำรายการ</th>
          <th scope="col">รายละเอียด</th>
        </tr>
      </thead>
      {% for order in orders %}
      <tbody>
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td scope="row">{{ order.user.get_full_name }}</td>
          <td scope="row">ID {{ order.id }}</td>
          <td scope="row">{{ order.items.count }} รายการ</td>
          <td scope="row">{{ order.get_total_price|intcomma }} บาท</td>
          <td scope="row" style="font-size: 15px; width: 2px;">{{ order.date_created| date:"d M Y H:i" }} น.</td>

          {% if order.status == True %}
          <th scope="row" class="text-success text-center">อนุมัติ</td>
            {% elif order.status == False %}

          <th scope="row" class="text-danger text-center">ปฏิเสธ</td>
            {% else %}
          <th scope="row" class="text-warning text-center">รอดำเนินการ..</td>
            {% endif %}

          <td scope="col" class="text-center"><!-- Button trigger modal -->
            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
              data-bs-target="#exampleModal{{ order.id }}">
              อนุมัติ
            </button>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
              data-bs-target="#exampleModal2{{ order.id }}">
              ปฏิเสธ
            </button>
          </td>

          <!-- Modal -->
          <form action="{% url 'dashboard:approve_orders' order.id %}" method="POST">
            {% csrf_token %}
            <div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="width: 20rem;">
                  <div class="modal-header">
                    <h5 class="modal-title text-center container" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <div class="form-check container justify-content-center d-flex mb-3">
                      <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1" 
                             value="True" checked>
                      <label class="custom-radio" for="flexRadioDefault1"></label>
                      <label class="form-check-label text-success" for="flexRadioDefault1" style="font-size: 20px;">
                          &nbsp;&nbsp;อนุมัติ
                      </label>
                    </div>

                    <!-- <div class="col-8 mt-3">
                      <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
                      <input type="datetime-local" name="date_receive" class="form-control"
                        id="exampleFormControlInput1">
                    </div>
                    <p class="text-danger">จ่ายวัสดุทุกวันจันทร์ เวลา 16:00 น.</p> -->

                    <div class="col-8 mt-3">
                      <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
                      <input type="datetime-local" name="date_receive" class="form-control" id="exampleFormControlInput1" readonly>
                    </div>
                    
                    <script>
                      // สร้างวันที่เริ่มต้นจากวันนี้
                      const date = new Date();
                    
                      // หาวันจันทร์ถัดไป
                      const day = date.getDay(); // ค่าที่ได้จะอยู่ระหว่าง 0 (อาทิตย์) ถึง 6 (เสาร์)
                      const daysUntilMonday = (day === 0) ? 1 : (8 - day); // คำนวณหาจำนวนวันที่ต้องเพิ่มเพื่อให้ถึงวันจันทร์
                      date.setDate(date.getDate() + daysUntilMonday); // เพิ่มวันที่เพื่อให้ถึงวันจันทร์
                    
                      // ตั้งเวลาเป็น 16:00 น.
                      date.setHours(23, 0, 0, 0);
                    
                      // จัดรูปแบบวันที่ตามที่ต้องการสำหรับ input type="datetime-local"
                      const formattedDate = date.toISOString().slice(0, 16);
                    
                      // เซตค่าวันที่เริ่มต้นของ input
                      document.getElementById('exampleFormControlInput1').value = formattedDate;
                    </script>
                    

                    <div class="col mb-3 mt-3">
                      <label class="form-label">หมายเหตุ</label>
                      <input type="text" name="other" class="form-control" placeholder="ถ้ามี">
                    </div>

                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    <!-- <button type="submit" class="btn btn-primary" onclick="this.style.display='none'">ยืนยัน</button> -->
                    <button class="btn btn-success" type="submit" onclick="this.disabled=true; this.innerHTML='กำลังประมวลผล...'; this.form.submit();">
                      ยืนยัน
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- Modal -->
          <form action="{% url 'dashboard:approve_orders' order.id %}" method="POST">
            {% csrf_token %}
            <div class="modal fade" id="exampleModal2{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel2"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="width: 20rem;">
                  <div class="modal-header">
                    <h5 class="modal-title text-center container" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <div class="form-check container justify-content-center d-flex">
                        <input class="form-check-input" type="radio" name="status" id="flexRadioDefault2" 
                              value="False" checked>
                        <label class="custom-radio reject" for="flexRadioDefault2"></label>
                        <label class="form-check-label text-danger" for="flexRadioDefault2" style="font-size: 20px;">
                            &nbsp;&nbsp;ปฏิเสธ
                        </label>
                    </div>

                    <div class="col mb-3 mt-3">
                      <label class="form-label">หมายเหตุ</label>
                      <input type="text" name="other" class="form-control" placeholder="กรุณาระบุ">
                    </div>
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    <!-- <button type="submit" class="btn btn-primary" onclick="this.style.display='none'">ยืนยัน</button> -->
                    <button class="btn btn-success" type="submit" onclick="this.disabled=true; this.innerHTML='กำลังประมวลผล...'; this.form.submit();">
                      ยืนยัน
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <td><a href="{% url 'dashboard:order_detail' order.id %}" class="text-decoration-none">
            <button type="button" class="btn btn-sm btn-secondary">
              ดูรายการเบิก
            </button></a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="9" class="text-center">ไม่มีคำร้องใหม่</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
</div>
{% endblock %}


<div class="modal fade" id="exampleModal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="content col-md-6 rounded" style="background-color: white;">

      <div class="modal-header">
        <h5 class="modal-title text-center container" id="exampleModalLabel">ดำเนินการ ID {{ order.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            อนุมัติ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="refuse" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            ปฏิเสธ
          </label>
        </div>

        <div class="col mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label">วันที่รับของ</label>
          <input type="datetime-local" name="date_receive" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="submit" class="btn btn-primary">บันทึก</button>
        </div>
      </div>
    </div>
  </div>