{% extends "dashboard.html" %}
{% block content %}


<!-- <div class="col-md-5 mt-4 justify-content-center container">
  <form method="POST" enctype="multipart/form-data">
    <h2>Receive Product</h2>
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.non_field_errors }}
    <div class="row col-12 justify-content-center container mb-5">
      <div class="col-3"><a class="btn btn-primary mt-3 w-100 " onclick="history.back()">ย้อนกลับ</a></div>
      <div class="col-3"><button class=" btn btn-success mt-3 w-100" type="submit">Submit</button></div>
    </div>
  </form>
</div> -->

<div class="col-md-4 mt-5 justify-content-center container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="id_product" class="form-label required">วัสดุ</label>
    <select name="product" class="form-select mb-3" required id="id_product">
      {% for o in Product %}
      <option disabled selected hidden>เลือก..</option>
      <option value="{{o.id}}">{{o.product_name}}</option>
      {% endfor %}
    </select>

    <label for="id_suppliers" class="form-label required">ซัพพลายเออร์</label>
    <select name="suppliers" class="form-select mb-3" required id="id_suppliers">
      {% for o in Suppliers %}
      <option disabled selected hidden>เลือก..</option>
      <option value="{{o.id}}">{{o.supname}}</option>
      {% endfor %}
    </select>

    <label class="mb-2" for="quantity_received">จำนวนที่รับเข้า </label>
    <input class="form-control mb-3" type="number" id="quantity_received" name="quantityreceived"
      placeholder="จำนวนที่รับเข้า" required>

    <label class="mb-2" for="quantity">จำนวนคงเหลือ </label>
    <input class="form-control mb-3" type="number" id="id_quantity" name="quantity"
      placeholder="จำนวนคงเหลือ" required>

    <label class="mb-2" for="unit_price">ราคา</label>
    <input class="form-control mb-3" type="number" id="unit_price" name="unitprice" placeholder="ใส่ราคาต่อหน่วย"
      required>

    <label class="mb-2" for="unit_price">เดือนที่รับเข้า (เป็นตัวเลข)</label>
    <input class="form-control mb-3" type="number" id="unit_price" name="month" placeholder="(เป็นตัวเลข)"
      required>

    <label class="mb-2" for="unit_price">ปีที่รับเข้า ค.ศ.</label>
    <input class="form-control" type="number" id="unit_price" name="year" placeholder="ปี ค.ศ."
      required><br><br>

    {{ form.non_field_errors }}
    <div class="row mb-5">
      <div class="col-6"><a class="btn btn-primary mt-3 w-100 " onclick="history.back()">ย้อนกลับ</a></div>
      <div class="col-6"><button class=" btn btn-success mt-3 w-100" type="submit">Submit</button></div>
    </div>
  </form>
</div>


{% endblock %}