{% extends "dashboard.html" %}
{% block content %}

<div class="col-md-4 mt-5 justify-content-center container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
      <label for="id_product" class="form-label required">เลือก รายการวัสดุ</label>
      <select name="product" class="form-select col-12 mb-3 selectpicker" data-live-search="true" required id="id_product">
        <option disabled selected hidden>เลือก..</option>
        {% for o in Product %}
        <option value="{{ o.id }}">{{ o.product_id }}&nbsp; {{ o.product_name }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="id_suppliers" class="form-label required">ซัพพลายเออร์</label>
      <select name="suppliers" class="form-select col-12 selectpicker" required id="id_suppliers">
        <option disabled selected hidden>เลือก..</option>
        {% for o in Suppliers %}
        <option value="{{o.id}}">{{o.supname}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mt-3 col-6 mb-3">
      <label for="exampleFormControlInput1" class="form-label">วันที่รับเข้า</label>
      <input type="datetime-local" name="date_received" class="form-control" required>
    </div>

    <div class="row">
      <div class="col-6">
        <label class="mb-2" for="quantity_received">จำนวนที่รับเข้า </label>
        <input class="form-control mb-3" type="number" id="quantity_received" name="quantityreceived"
          placeholder="1 ขึ้นไป" min="1"  required>
      </div>

      <div class="col-6">
        <label class="mb-2" for="unit_price">ราคาต่อหน่วย</label>
        <input class="form-control mb-3" type="number" id="unit_price" name="unitprice" placeholder="0.00"
        min="1" step="0.01" required>
    </div>    
    </div>
    
    <!-- <label class="mb-2" for="quantity">จำนวนคงเหลือ </label> -->
    <input class="form-control mb-3" type="number" id="id_quantity" name="quantity"
      placeholder="จำนวนคงเหลือ (ช่องนี้จะกรอกอัตโนมัติ)" readonly>

    <div class="mb-3 mt-3">
       <label class="form-label">หมายเหตุ*</label>
       <input type="text" name="note" class="form-control" placeholder="ถ้ามี">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">ไฟล์เอกสารแนบ (ถ้ามี)</label>
      <input class="form-control" type="file" id="formFile" name="file">
    </div>
    <br>

    {{ form.non_field_errors }}
    <div class="row mb-5">
      <div class="col-6"><a class="btn btn-primary mt-3 w-100 " href="{% url 'dashboard:receive_list' %}">ย้อนกลับ</a></div>
      <div class="col-6"><button class=" btn btn-success mt-3 w-100" type="submit" onclick="this.disabled=true; this.innerHTML='กำลังประมวลผล...'; this.form.submit();">บันทึก</button></div>
    </div>
  </form>
</div>

<script>
  $(document).ready(function () {
    $('.selectpicker').selectpicker();
  });
</script>

{% endblock %}