{% extends "dashboard.html" %}
{% load humanize %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table table-secondary">
            <tr>
                <th scope="col">n</th>
                <th scope="col">รหัสวัสดุ</th>
                <th scope="col">หมวดหมู่หลัก</th>
                <th scope="col">ชื่อวัสดุ</th>
                <th scope="col">รับเข้า</th>
                <th scope="col">คงเหลือ</th>
                <th scope="col">ราคา/หน่วย</th>
                <th scope="col">หน่วย</th>
                <th scope="col">วันที่รับเข้า</th>
                {% if request.user.is_admin %}
                <th scope="col">วันที่อัพเดต</th>
                {% else %}
                {% endif %}
                <th scope="col">เอกสารแนบ</th>
                <th scope="col">แก้ไข</th>

            </tr>
        </thead>
        {% for re in receive %}
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a class="text-decoration-none">{{ re.product.product_id}}</a></td>
                <!-- ตรวจสอบว่ามีไฟล์หรือไม่ -->
                
                <td>{{ re.product.category.category.name_cate}}</td>
                <td>{{ re.product.product_name}}</td>
                <td style="background-color: rgb(255, 221, 107)">{{ re.quantityreceived }}</td>

                {% if re.quantity == 0 %}
                <td style="background-color: #ff0000;">{{ re.quantity|intcomma }} </td>
                {% elif re.quantity <= 5 %} <td style="background-color: #ffd900;">{{ re.quantity|intcomma }} {{
                    re.product.unit }} </td>
                    {% else %}
                    <td style="background-color: #1eff00;">{{ re.quantity|intcomma }} </td>
                    {% endif %}

                    <td>{{ re.unitprice|intcomma }} บาท /</td>
                    <td>{{ re.product.unit }}</td>
                    <td>{{ re.date_received | date:"d M Y, H:i" }} น.</td>
                    {% if request.user.is_admin %}
                    <td>{{ re.date_updated | date:"d M Y, H:i" }} น.</td>
                    {% else %}
                    {% endif %}
                    <td>
                        {% if re.file %}
                        <a href="{{ re.file.url }}" target="_blank">
                            <i class="bi bi-file-earmark-pdf-fill text-danger" style="font-size: 1.5em;"></i>
                        </a>
                        {% else %}
                        ไม่มีเอกสาร
                        {% endif %}
                    </td>
                    {% if request.user.is_admin %}
                    <td><a class="text-info text-decoration-none"
                            href="{% url 'dashboard:update_received_product' re.id %}"><i
                                class="bi bi-pencil-square"></i></a></td>
                    {% else %}
                    <td class="text-danger">admin</td>
                    {% endif %}


                    <!-- <td><a class="text-danger text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal{{l.id}}" ><i class="bi bi-trash-fill"></i></a></td> -->
            </tr>
        </tbody>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{l.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ยืนยันการลบรายการ
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        ท่านต้องการลบข้อมูลซัพพลายเออร์ <strong>{{ re.title }}</strong> ใช่หรือไม่!
                    </div>
                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col-6 d-flex justify-content-start">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <a type="button" href="{% url 'dashboard:delete_receive' re.id %}"
                                    class="btn btn-danger">ยืนยัน</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
</div>
{% endblock %}